<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Максим Ш.</h4>
          <p class="card-text">
            Здравствуйте, меня зовут Максим.<br><br>
            Я альпинист и врач.<br><br>
            А еще я упоролся на истории народнического движения.
          </p>
          <a href="https://music.yandex.ru/album/20275982" class="btn btn-primary">Слушать наш подкаст</a>
        </div>
      </div> 
</p>
{% endblock %}